<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>zeyvrometacounter</name>
    <displayName><![CDATA[Zeyvro Meta Counter]]></displayName>
    <version><![CDATA[1.1.3]]></version>
    <description><![CDATA[Adds an SEO-oriented character counter (60 for meta_title, 160 for meta_description) to PrestaShop backoffice forms. Hides the native counter on the V2 product page to avoid duplication.]]></description>
    <author><![CDATA[Zeyvro]]></author>
    <tab><![CDATA[seo]]></tab>
    <confirmUninstall><![CDATA[Uninstall Zeyvro Meta Counter?]]></confirmUninstall>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
